.git
.github
.gitignore
.gitmodules

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache

.venv
venv
env
*.egg-info

.ipynb_checkpoints

mlflow.db
mlflow.db-*
mlruns

data/raw
data/processed

.DS_Store

README.md
